<pre>{{listaLibros | json}}</pre>
<button form="" class="btn btn-danger" (click)="eliminarLibro(3)">Eliminar Libro</button>
<div class="alert alert-success" role="alert" *ngIf="(mensaje !== 'No hay elementos en la Posición 3!')&&(mensaje)">
    {{mensaje}}
</div>
<div class="alert alert-warning" role="alert" *ngIf="(mensaje === 'No hay elementos en la Posición 3!')">
    {{mensaje}}
</div>
<div class="card">
    <div class="card-header">
        <h3>Lista de Libros!</h3>
    </div>
    <div class="card-body">
        <ul>
            <li *ngFor="let libro of listaLibros">{{libro.nombre}}</li>
        </ul>
    </div>
</div>